.hero{
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background-color: #cdfab8;
}
.hero .hero_header{
    font-size: 275px;
    text-align: center;
    margin-top: 20px;
    color: #000;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hero .hero_img{
    width: 950px;
    margin-top: -30px;
    height: 550px;
    border-radius: 20px;
}
.hero_bottom_header{
    font-size: 140px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.media_container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.media_container>div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    padding: 15px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .5);
}
.media_container>div:nth-child(1){
    left: 20rem;
    top: 19rem;
}
.media_container>div:nth-child(2){
    left: 37rem;
    top: 13rem;
}
.media_container>div:nth-child(3){
    left: 50rem;
    top: 23rem;
}
.media_container>div:nth-child(4){
    left: 67rem;
    top: 14rem;
}