.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background: #cdfab8;
    color: #000;
}
  
.navbar-logo h2 {
  font-size: 1.5rem;
}

.link ul {
  display: flex;
  gap: 1rem;
}

.link ul li{
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.link ul li:hover{
    color: #4cbb17;
    cursor: pointer;
}

.nav_btn button{
    margin-top: 20px;
    padding: 1rem 3rem;
    border: none;
    background: #4cbb17;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
}
